.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 25px
}

.project-grid-item {
    overflow: hidden;
}

.project-grid-item img {
    width: 100%;
    transition: all 700ms;
    filter: grayscale(1);
}

.project-grid-item img:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}