.subscribe-section {
    background-color: #89CEF9;
    padding: 55px;
    border-radius: 15px;
    text-align: center;
    width: 1200px;
    margin: 20px auto;
}

.subscribe-section input {
    padding: 17px;
    background-color: rgba(240, 248, 255, 0.387);
    border: 1px solid white;
    border-radius: 15px 0 0 15px;
    font-size: 17px;
    width: 500px;
    outline: none;
}


.subscribe-section input::placeholder {
    color: white
}

.subscribe-section button {
    border-radius: 0 15px 15px 0;
    height: 56px
}


.subscribe-section button:hover {
    background-color: #131427;
    color: white;
}