.contact-banner-section {
    width: 1200px;
    margin: 35px auto;
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 35px;
    align-items: center;
}

.contact-banner-section img {
    width: 100%;
}

.contact-banner-section h4 {
    color: #89CEF9;
    text-decoration: underline;
    font-size: 30px;
}

.contact-banner-section h2 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 35px;
}