.about-section {
    display: grid;
    grid-template-columns: 500px 700px;
    align-items: center;
}

.about-section img {
    width: 100%;
    border-radius: 20px;
}

.about-content {
    padding-left: 75px;
}

.about-content p {
    color: gray;
    font-size: 15px;
    line-height: 25px;
    margin: 35px 0
}


.about-content button {
    background-color: #131427;
    margin-top: 35px;
    font-weight: 700;
    color: white;

}
