
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: #131427;
    /* border-bottom: 1px solid lightgray ; */
}

header .logo {
    height: 45px
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 3px 5px;
    font-size: 15px;
    font-weight: 500;
    color: white
}

nav ul li a:hover {
    color: #89CEF9
}




.active {
    color: #89CEF9;
}